.app {
  display: flex;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.main-content {
  position: absolute;
  left: 250px;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #f5f5f5;
  overflow: auto;
  z-index: 1;
  transition: left 0.3s ease;
}

.main-content.collapsed {
  left: 70px;
}

@media (max-width: 768px) {
  .main-content {
    left: 70px;
  }
  
  .main-content.collapsed {
    left: 0;
  }
}